0-0-intro/target/classes/com/bobocode/intro/ExerciseIntroduction.class
1-0-java-basics/1-3-0-hello-generics/target/classes/com/bobocode/basics/Box.class
1-0-java-basics/1-3-0-hello-generics/target/classes/com/bobocode/basics/BoxDemoApp.class
1-0-java-basics/1-3-0-hello-generics/target/test-classes/com/bobocode/basics/BoxTest.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$CollectionRepository.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$CollectionUtil.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$ComparableCollection.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$Converter.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$Limited.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$ListRepository.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$MaxHolder.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$Sourced.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$ListRepository.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$MaxHolder.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$Sourced.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/CrazyGenerics$StrictProcessor.class
1-0-java-basics/1-3-1-crazy-generics/target/classes/com/bobocode/basics/util/BaseEntity.class
1-0-java-basics/1-3-1-crazy-generics/target/test-classes/com/bobocode/basics/CrazyGenericsTest.class
1-0-java-basics/1-3-1-crazy-generics/target/test-classes/com/bobocode/basics/CrazyGenericsTest$TestEntity.class
